In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pytimekr import pytimekr
from sklearn.preprocessing import LabelEncoder
import os

In [3]:
path = os.getcwd()

train = pd.read_csv(path + f'/데이터들/인코딩 없음/train.csv')
test = pd.read_csv(path + f'/데이터들/인코딩 없음/test.csv')

In [4]:
train.info()
train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267353 entries, 0 to 267352
Data columns (total 21 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  267353 non-null  int64
 1   요일          267353 non-null  object
 2   기상상태        267353 non-null  object
 3   노면상태        267353 non-null  object
 4   사고유형        267353 non-null  object
 5   사망자수        267353 non-null  int64
 6   중상자수        267353 non-null  int64
 7   경상자수        267353 non-null  int64
 8   부상자수        267353 non-null  int64
 9   ECLO        267353 non-null  int64
 10  시           267353 non-null  object
 11  구           267353 non-null  object
 12  동           267353 non-null  object
 13  도로형태1       267353 non-null  object
 14  도로형태2       267353 non-null  object
 15  년도          267353 non-null  int64
 16  월           267353 non-null  int64
 17  시간          267353 non-null  int64
 18  holiday     267353 non-null  object
 19  시간구분        267353 non-null  object
 20  계절          267353 non-null  object
dtypes: int64(9), object(12)
memory usage: 42.8+ MB

,Unnamed: 0,사망자수,중상자수,경상자수,부상자수,ECLO,년도,월,시간
count,267353.000000,267353.000000,267353.000000,267353.000000,267353.000000,267353.000000,267353.000000,267353.000000,267353.000000
mean,258077.744016,0.008154,0.260091,1.049324,0.098125,4.628091,2019.952624,6.635063,13.807416
std,188698.044253,0.091702,0.499837,0.976712,0.368203,3.168657,0.819166,3.407170,5.864314
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2019.000000,1.000000,0.000000
25%,70878.000000,0.000000,0.000000,0.000000,0.000000,3.000000,2019.000000,4.000000,10.000000
50%,246462.000000,0.000000,0.000000,1.000000,0.000000,3.000000,2020.000000,7.000000,15.000000
75%,423750.000000,0.000000,0.000000,1.000000,0.000000,5.000000,2021.000000,10.000000,18.000000
max,602772.000000,5.000000,12.000000,41.000000,47.000000,169.000000,2021.000000,12.000000,23.000000

In [5]:
test.info()
test.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10963 entries, 0 to 10962
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10963 non-null  int64
 1   요일          10963 non-null  object
 2   기상상태        10963 non-null  object
 3   노면상태        10963 non-null  object
 4   사고유형        10963 non-null  object
 5   시           10963 non-null  object
 6   구           10963 non-null  object
 7   동           10963 non-null  object
 8   도로형태1       10963 non-null  object
 9   도로형태2       10963 non-null  object
 10  년도          10963 non-null  int64
 11  월           10963 non-null  int64
 12  시간          10963 non-null  int64
 13  holiday     10963 non-null  object
 14  시간구분        10963 non-null  object
 15  계절          10963 non-null  object
dtypes: int64(4), object(12)
memory usage: 1.3+ MB

         Unnamed: 0       년도             월            시간
count  10963.000000  10963.0  10963.000000  10963.000000
mean    5481.000000   2022.0      6.670984     13.980753
std     3164.889835      0.0      3.390321      5.501778
min        0.000000   2022.0      1.000000      0.000000
25%     2740.500000   2022.0      4.000000     10.000000
50%     5481.000000   2022.0      7.000000     15.000000
75%     8221.500000   2022.0     10.000000     18.000000
max    10962.000000   2022.0     12.000000     23.000000

In [6]:
columns = ['요일', '기상상태', '도로형태1', '도로형태2', '노면상태', '사고유형']

for column in columns:
    print(f"Column: {column}")
    print(train[column].value_counts())
    print("-" * 30)

Column: 요일
요일
금요일    42876
화요일    39975
수요일    39768
목요일    39526
월요일    38789
토요일    38112
일요일    28307
Name: count, dtype: int64
------------------------------
Column: 기상상태
기상상태
맑음    238074
비      18056
흐림      8225
기타      2211
눈        747
안개        40
Name: count, dtype: int64
------------------------------
Column: 도로형태1
도로형태1
단일로    130324
교차로    123241
기타      12649
주차장      1047
미분류        92
Name: count, dtype: int64
------------------------------
Column: 도로형태2
도로형태2
기타           136051
교차로안          73497
교차로부근         40007
교차로횡단보도내       9737
지하차도(도로)내      2858
교량             2094
고가도로위          1115
주차장            1047
터널              855
미분류              92
Name: count, dtype: int64
------------------------------
Column: 노면상태
노면상태
건조       241306
젖음/습기     22794
기타         2332
서리/결빙       558
적설          325
침수           25
해빙           13
Name: count, dtype: int64
------------------------------
Column: 사고유형
사고유형
차대차     204017
차대사람     55393
차량단독      7943
Name: count, dtype: int64
------------------------------

In [7]:
columns = ['요일', '기상상태', '도로형태1', '도로형태2', '노면상태', '사고유형']

for column in columns:
    print(f"Column: {column}")
    print(test[column].value_counts())
    print("-" * 30)

Column: 요일
요일
금요일    1743
토요일    1638
목요일    1636
화요일    1599
수요일    1592
월요일    1587
일요일    1168
Name: count, dtype: int64
------------------------------
Column: 기상상태
기상상태
맑음    10321
비       394
흐림      207
기타       31
눈        10
Name: count, dtype: int64
------------------------------
Column: 도로형태1
도로형태1
단일로    5453
교차로    4693
기타      752
주차장      64
미분류       1
Name: count, dtype: int64
------------------------------
Column: 도로형태2
도로형태2
기타           5791
교차로안         2540
교차로부근        1673
교차로횡단보도내      480
지하차도(도로)내     273
교량             74
주차장            64
고가도로위          52
터널             15
미분류             1
Name: count, dtype: int64
------------------------------
Column: 노면상태
노면상태
건조       10394
젖음/습기      524
기타          35
서리/결빙        7
침수           2
적설           1
Name: count, dtype: int64
------------------------------
Column: 사고유형
사고유형
차대차     8559
차대사람    2079
차량단독     325
Name: count, dtype: int64
------------------------------

In [8]:
# Counting '기타' in '도로형태1'
intersection_기타 = test[(test['도로형태1'] == '기타') & (test['도로형태2'] == '기타')]

In [9]:
print(intersection_기타.count())

Unnamed: 0    752
요일            752
기상상태          752
노면상태          752
사고유형          752
시             752
구             752
동             752
도로형태1         752
도로형태2         752
년도            752
월             752
시간            752
holiday       752
시간구분          752
계절            752
dtype: int64